body{margin:0;padding:0;background:#ffe;font-size:12px;overflow:auto}
#mainDiv{width:100%;height:100%}
#loveHeart{position: relative; width:670px;height:625px; transform-origin: 0 0;}
#garden{width:100%;height:100%; transform-origin: 0 0;}
#elapseClock{text-align:right;font-size:20px;padding: 10px 0; line-height: 1;}
#words{font-family:"sans-serif"; width: 80%; font-size:24px;color:#666; position: absolute; left: 50%; top: 180px; transform: translate(-50%,0); -webkit-transform: translate(-50%,0);}
#messages{display:none}
#elapseClock .digit{font-family:"digit";font-size:36px}
#loveu{padding:5px 10px;font-size:24px;margin-top:80px;margin-right:120px;text-align:right;display:none}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic; padding-right: 10px;}
#clickSound{display:none}
#code{ width:100%; height: 400px;color:#333;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:12px}
#code .string{color:#2a36ff}
#code .keyword{color:#7f0055;font-weight:bold}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px}
#code .comments{color:#3f7f5f}
#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}

#fixMobile { position: absolute; left: 0; top: 200px; width: 100%; min-height: 350px; overflow: hidden; transition: top 1.5s; -webkit-transition: top 1.5s;}