<% include head.ejs %>
<div class="warpper">

    <div class="page-toc">
        <%- toc_html %>
    </div>
    
    <div class="content markdown-body">
        <%- markdown_html %>
    </div>
    
</div>

<% include footer.ejs %>